.user--header {
    color: white;
    text-align: center;
}

.user--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout--button {
    width: 10%;
}

.leaderboard--container1 {
    width: 30%;
}