@font-face {
    font-family: "Font-3";
    src: url("../../assets/fonts/Font-3.ttf") format("truetype");
}

.header {
    display: flex;
    align-items: center;

    &--container {
        background-color: #0f1014;
    }

    &--logo {
        height: 5rem;

        &--right {
            background-color: #0f1014;
            width: 100%;
        }
    }
}

.pac-text {
    color: black;
    font-size: 1.4rem;
}


.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* add this property to move the "Login" link to the right */

    &--item {
        color: white;
        list-style: none;
        padding-right: 2rem;
    }

    &--item--login {
        margin-left: auto;
        /* add this property to move the "Login" link to the right */
    }
}

body {
    background: linear-gradient(to right, rgb(62, 7, 89), rgb(159, 93, 170));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #0f1014;
    color: white;
    text-align: center;
    height: 78rem;
    margin-top: 0;
    position: fixed;
    left: 0;

    &--text {
        margin-top: 0;
        padding-top: 2rem;
    }
}

.login {
    color: white;
    padding-right: 3rem;
    font-size: 1.25rem;
}


.card {
    width: 90% !important;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.card-img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 1rem;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.card-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.card-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &-play {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
    }

    &-play:hover {
        background-color: #666;
    }

}

.card-button:hover {
    background-color: #666;
}

.button--container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}


.promoted {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

    &--stream--header {
        color: rgb(203, 187, 187);
        font-size: 2rem;
        text-align: center;
        padding-right: 10rem;
        text-decoration: underline;
        padding-bottom: .2rem;

    }

    &--video {
        width: 50%;
        padding: .5rem;
        border-radius: 4px;
    }
}

.sidebar2 {
    width: 20%;
    background-color: #0f1014;
    color: white;
    text-align: center;
    height: 78rem;
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 5rem;
    overflow-y: auto;

    .button--container2 {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
    }
}

.card-img2 {
    height: 10rem;
    width: 90%;
    padding: 1rem;
    object-fit: contain;
}

.card2 {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
}

.test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.streamer {
    color: rgb(203, 187, 187);
}

.card3 {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
}

.switchgame-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.switchgame-button:hover {
    transform: scale(110%)
}