.page--container {
    display: flex;
    justify-content: center;
}

.promoted--stream--header {
    color: rgb(216, 214, 214);
    font-size: 2rem;
    padding-left: 10rem;
}

.activecard--container1 {
    padding-right: 30rem;
    padding-top: 5rem;
}